*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    height: auto;
}

header {
    height: 57px;
    width: 100%;
    box-shadow: 0px 3px 10px #ebebeb;
    position: fixed;
    background: white;
    z-index: 5;
}

header>div {
    width: 744px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
}

header img {
    height: 14.35px;
    width: 145px;
}

.handle_account a 
{
    padding: 13px 16px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

.handle_account a:last-child
{
    border: 1px solid #eff2f6;
}

.btn_register {
    background: #054d97;
    color: #FFFFFF;
}

.btn_register:hover {
    background: rgb(57, 90, 236);
}

.btn_login {
    background: #FFFFFF;
    color: #054d97;
}

.btn_login:hover {
    background: #E2E8F0;
}

section {
    width: 100%;
    height: auto;
    padding-top: 56.8px;
    background: #fafafa;
}

ul li {
    list-style: none;
}

.section_content {
    width: 768px;
    height: auto;
    margin: auto;
    background: #ffffff;
}

.section_menu {
    width: calc((100% - 768px)/2);
    height: 152px;
    padding-top: 40px;
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_menu>div
{
    width: 204px;
    height: auto;
    margin-left: 40px;
    box-sizing: border-box;
}

ul.details
{
    padding: 4px 0 4px 32px;
}

ul.details a:focus
{
    font-weight: 700;
}

.toggle_lable, ul.details li
{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0 16px;
    box-sizing: border-box;
    border-radius: 6px;
    color: #1A202C;
    cursor: pointer;
}

.toggle_lable>div i, .toggle_lable>div svg
{
    margin-right: 12px;
}

.toggle_lable:hover, .toggle_question:hover, ul.details li:hover
{
    background: #EDF2F7;
}

.toggle {
    appearance: none;
    display: none;
}

.toggle~.details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .5s, opacity .5s;
}

.toggle:checked~.details {
    max-height: 100vh;
    opacity: 1;
}

.rotate {
    transition: transform 0.5s ease;
}

.banner_content {
    width: 100%;
}

.banner_content img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.section_content>div:first-child {
    padding: 8px;
    background: #efefef;
}

.section_content>div:first-child>div {
    padding: 16px;
}

.main_content {
    width: 100%;
    height: auto;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 15px;
}

.sub_main {
    height: 291px;
    padding: 10px 8px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}

.sub_main a
{
    text-decoration: none;
    color: #1A202C;
}

.main_nav {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_nav div:first-child button {
    padding: 3.7px 8px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

.main_nav div:first-child button:first-child
{
    color: #ffffff;
    background: #EA453C;
    border: none;
}

.main_img img {
    width: 336px;
    height: 218px;
    border-radius: 10px;
}

.main_price {
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_price>div
{
    display: flex;
    align-items: center;
}

.main_price>div:last-child
{
    flex-direction: column;
}

.img_coin
{
    width: 19px;
    height: 19px;
    background: url(img/img-coin.png);
    background-size: cover;
    margin-right: 5px;
}

.product_container
{
    width: 160px;
    height: 6px;
    background: #e0e0e0;
    border-radius: 3px;
}

.remaining_self
{
    width: 100%;
    height: 100%;
    border-radius: 3px 0 0 3px;
}

.space_white {
    width: 100%;
    height: 100px;
}

.section_notify {
    width: 100%;
    height: auto;
}

.notify_content {
    width: calc(100% - 32px);
    height: auto;
    margin: 0 16px;
    padding: 24px 0;
    position: relative;
    border: 3px solid #F8C215;
    border-radius: 10px;
}

.notify_content>h2 {
    position: absolute;
    width: 78px;
    top: 0;
    left: calc((100% - 126px)/2);
    transform: translateY(-50%);
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    color: #1A202C;
    white-space: nowrap;
}

.notify_content>ul {
    padding: 0 16px;
}

.notify_content>ul li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ebebeb;
}

.notify_content a, ul.details a, footer>div:nth-child(2) button a
{
    text-decoration: none;
}

.notify_content a:hover, footer>div:first-child>div a:hover, footer>div:nth-child(2) button:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.notify_time {
    padding: 4px 8px;
    background: #F8C215;
    border-radius: 20px;
    color: #ffffff;
}

.notify_text {
    margin-left: 10px;
    color: #054d97;
}

.btn_more
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.btn_more button
{
    width: 112px;
    height: 40px;
    padding: 2px 16px 0;
    border: none;
    color: #054d97;
    background: #FFFFFF;
    border-radius: 6px;
}

.btn_more button:hover
{
    background: #EDF2F7;
}

.section_question {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.section_question ul {
    width: 100%;
    padding: 0;
}

.section_question ul li {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e8edee;
}

.sub_question
{
    width: calc(100% - 32px);
    height: auto;
}

.section_question ul li.title_question
{
    width: calc(100% - 32px);
    height: 38px;
    padding: 16px 16px 8px;
    display: flex;
    align-items: center;

}

.toggle_question
{
    width: 100%;
    height: 28px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.sub_question .details
{
    margin: 0;
    padding: 0 16px;
}

.section_contact {
    display: block;
}

.section_contact>div {
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 15px 0;
    z-index: 2;
}

.section_contact img {
    width: 100%;
    border-radius: 5px;
}

.section_contact>div>div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.section_contact>div>div button {
    width: 120px;
    height: 40px;
    padding: 0 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.section_contact>div>div button:hover
{
    background: #E2E8F0;
    text-decoration: underline;
}

.section_contact>div>div button a
{
    color: #ffffff;
    text-decoration: none;
}

.contactX {
    background: #00ACEE;
}

.contactChat {
    background: #00B900;
}

footer {
    width: 100%;
    height: 310px;
    background: #2e2e2e;
    padding: 24px 0;
}

footer>div:first-child {
    width: 688px;
    height: 180px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 24px;
    color: white;
}

footer>div:first-child>div
{
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer>div:first-child>div a
{
    color: #ffffff;
    text-decoration: none;
}

footer>div:nth-child(2) {
    width: 246px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

footer>div:nth-child(2) button {
    height: 100%;
    padding: 0 16px;
    background: #FFFFFF;
    color: #2e2e2e;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}

footer>div:nth-child(2) button a
{
    color: #2e2e2e;
}

footer>div:nth-child(2) button:hover
{
    background: #EDF2F7;
}

footer>div:last-child {
    width: 100%;
    text-align: center;
    color: white;
    border-top: 1px solid gray;
}

footer>div:last-child img {
    width: 100px;
    height: 10px;
    margin: 12px 0;
}

.menu_responsive {
    display: none;
}




